@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

img,
video {
  height: revert-layer;
}

body {
  background-color: black;
}

.cl-internal-1dauvpw {
  display: none;
}
.p-Grid {
  color: white !important;
}
.p-GridCell {
  color: white;
}
